<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <!-- Registration Activities -->
        <activity
            android:name=".views.Registration.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".views.Registration.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.Registration.LoginActivity"
            android:exported="false" />
        <!-- Rooms Activities -->
        <activity
            android:name=".views.RoomListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.AdminRoomsActivity"
            android:exported="false"
            android:parentActivityName=".views.RoomListActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- RoomClickedActivity -->
        <activity
            android:name=".views.RoomClickedActivity"
            android:exported="false"
            android:parentActivityName=".views.RoomListActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Settings -->
        <activity
            android:name=".views.Settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".views.RoomListActivity"
            android:theme="@style/DefaultTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.RoomListActivity" />
        </activity>

        <!-- AdminProfileActivityPage -->
        <activity
            android:name=".views.AdminProfileActivity"
            android:exported="false"
            android:parentActivityName=".views.RoomListActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Admin_InfoCard -->
        <activity
            android:name=".views.Cards.Admin_InfoCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Admin_HistoryCard -->
        <activity
            android:name=".views.Cards.Admin_HistoryCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Admin_UserListCard -->
        <activity
            android:name=".views.Cards.Admin_UserListCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- UserProfileActivityPage -->
        <activity
            android:name=".views.UserProfileActivity"
            android:exported="false"
            android:parentActivityName=".views.RoomListActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- User_InfoCard -->
        <activity
            android:name=".views.Cards.User_InfoCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- User_FavoriteRoomCard -->
        <activity
            android:name=".views.Cards.User_FavoriteRoomCard"
            android:exported="false"
            android:label="@string/title_activity_favorite_room_card"
            android:theme="@style/Theme.FinalProject.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- User_FriendCard -->
        <activity
            android:name=".views.Cards.User_FriendCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- User_HistoryCard -->
        <activity
            android:name=".views.Cards.User_HistoryCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>